*, html, body{ margin: 0; padding: 0; font-size: 16px; }
body{ background: url(../tarea/images/pattern-header.jpg) 0 0 repeat-x; margin: auto; }

h1{font-size: 4.5em;}
h3{font-size: 1.5em;}
.header{ max-width: 1024px; height: 220px; margin: auto; }
	.header .menu{ float: right; display: inline-block; list-style: none; background: #326789; }
		.header .menu li{ display: inline-block; padding: 5px 10px; }
			.header .menu li a{ text-decoration: none; color: #fff; font-weight: bold; font-family: Verdana; font-size: 0.8em; }
			.header .menu li a:hover{ text-decoration: underline; }
	.header .container-header-01{float: left; width: 50%; }
	.header .container-header-02{float: right; width: 40%; }
	/*.header .titulo-principal{ clear: both; }*/
.header .container-header-01 h1{ color: #fff; font-size: 4.5em;}
.header .container-header-01 p{ color: #fff; font-size: 1em; padding-right: 20px;}

.col1{display:block; float: left; width: auto; margin-right: 10px;}
.col1 input[type="radio"]{margin-right: 10px;}
.col2{ }
.col2 input[type="radio"]{margin-right: 10px;}

.content{ max-width: 1024px; height: 800px; background: none; margin: auto; }
	.content .floating-box-1 { display: inline-block; padding: 20px 10px; float: left; width: 30%;}
			.content .floating-box-1 h3{color: #3366CC; padding-top: 80px; }

	.content .floating-box-2 { display: inline-block; content: 30px 30px; float: left; width: 29%; }
			.content .floating-box-2 img{width: 80%; margin: auto; opacity: 0.9;}
			.content .floating-box-2 h3{color: #3366CC; padding-top: 50px;}
			.content .floating-box-2 h2{color: #6699FF;padding-top: 5px;}


	.content .floating-box-3 { display: inline-block; padding: 40px 20px; float: left; width: 25%;} 
		.content .floating-box-3 h3{color: #3366CC;}
		.content .floating-box-3 img{width: 90%; margin: auto; padding: 13px 5px;}
		.content .floating-box-3 

.content .content-1 img{width: 50%; margin: auto; padding: 13px 5px;}
.content .content-1 h3{color: #CCCCCC; font-size: 1.8em; padding-right: 10px;}
